APP_NAME = {{ forgejo_app_name }}
RUN_USER = {{ forgejo_run_user }}
APP_SLOGAN = {{ forgejo_app_slogan }}
WORK_PATH = {{ forgejo_work_path }}
RUN_MODE = {{ forgejo_run_mode }}

[server]
DOMAIN = {{ forgejo_server_domain }}
SSH_DOMAIN = {{ forgejo_server_ssh_domain }}
HTTP_PORT = {{ forgejo_server_http_port }}
ROOT_URL = {{ forgejo_server_root_url }}
APP_DATA_PATH = {{ forgejo_server_data_path }}
DISABLE_SSH = {{ forgejo_server_disable_ssh | string | lower }}
SSH_PORT = {{ forgejo_server_ssh_port }}
LFS_START_SERVER = true

[database]
DB_TYPE = {{ forgejo_database_db_type }}
PATH = {{ forgejo_database_path }}

[security]
INSTALL_LOCK = {{ forgejo_security_install_lock | string | lower}}
