---
# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files

  - repo: https://github.com/adrienverge/yamllint
    rev: v1.35.1
    hooks:
      - id: yamllint
        # Lightly relax line-length to reduce noise
        args: ["-d", "{extends: default, rules: {line-length: {max: 140}}}"]

  - repo: local
    hooks:
      - id: tofu-fmt
        name: opentofu fmt (check)
        language: system
        entry: bash -lc 'tofu fmt -recursive -check'
        files: \.(tf|tfvars)$

  - repo: https://github.com/nix-community/nixpkgs-fmt
    rev: v1.3.0
    hooks:
      - id: nixpkgs-fmt
