;
; BIND data file for local loopback interface
;
$TTL    604800
$ORIGIN hackandpwned.homelab.
@       IN      SOA     ns1.hackandpwned.homelab. root.hackandpwned.homelab. (
                              1         ; Serial
                         604800         ; Refresh
                          86400         ; Retry
                        2419200         ; Expire
                         604800 )       ; Negative Cache TTL
;
        IN      NS      ns1.hackandpwned.homelab.
ns1     IN      A       192.168.1.200
jenkins IN      A       192.168.1.220
proxmox IN      A       192.168.1.212
