;
; BIND data file for local loopback interface
;
$TTL    604800
$ORIGIN {{ item.name }}.
@       IN      SOA     ns1.{{ item.name }}. root.{{ item.name }}. (
                              1         ; Serial
                         604800         ; Refresh
                          86400         ; Retry
                        2419200         ; Expire
                         604800 )       ; Negative Cache TTL
;
        IN      NS      ns1.hackandpwned.homelab.
ns1     IN      A       192.168.1.200
proxmox IN      A       192.168.1.212
traefik IN      A       192.168.1.230
*       IN      A       192.168.1.230
