jenkins:
  securityRealm:
    local:
      allowsSignup: false
      users:
      - id: admin
        password: {{ jenkins_admin_password }}
  authorizationStrategy:
    globalMatrix:
      entries:
      - user:
          name: "admin"
          permissions:
           - "Overall/Administer"
      - group:
          name: "authenticated"
          permissions:
          - "Overall/Read"
  nodes:
  - permanent:
      labelString: "iac"
      launcher:
        ssh:
          credentialsId: "jenkins"
          host: "192.168.1.221"
          port: 4444
          sshHostKeyVerificationStrategy: "nonVerifyingKeyVerificationStrategy"
      mode: EXCLUSIVE
      name: "tofu"
      remoteFS: "/home/jenkins"
      retentionStrategy: "always"
  numExecutors: 0
tool:
    ansible:
      installations:
      - name: "ansible-playbook"
        properties:
        - installSource:
            installers:
            - command:
                command: |-
                  pipx install --include-deps ansible
                  pipx ensurepath
                  source ~/.bashrc
                label: "iac"
                toolHome: "/home/jenkins/.local/bin"
credentials:
  system:
    domainCredentials:
      - credentials:
          - basicSSHUserPrivateKey:
              scope: GLOBAL
              username: jenkins
              id: jenkins
              description: "SSH Key for agent"
              privateKeySource:
                directEntry:
                  privateKey: "${readfile:/home/jenkins/.ssh/jenkins_agent_key}"
          - usernamePassword:
              description: "Proxmox password"
              id: "proxmox-password-id"
              password: "${base64:{{jenkins_proxmox_password}}}"
              scope: GLOBAL
unclassified:
  location:
    url: http://{{ jenkins_url }}:8080
