jenkins:
  securityRealm:
    local:
      allowsSignup: false
      users:
      - id: admin
        password: admin
  authorizationStrategy:
    globalMatrix:
      entries:
      - user:
          name: "admin"
          permissions:
           - "Overall/Administer"
      - group:
          name: "authenticated"
          permissions:
          - "Overall/Read"
  nodes:
  - permanent:
      labelString: "iac"
      launcher:
        ssh:
          credentialsId: "jenkins"
          host: "192.168.1.221"
          port: 4444
          sshHostKeyVerificationStrategy: "nonVerifyingKeyVerificationStrategy"
      mode: EXCLUSIVE
      name: "tofu"
      remoteFS: "/home/jenkins"
      retentionStrategy: "always"
credentials:
  system:
    domainCredentials:
      - credentials:
          - basicSSHUserPrivateKey:
              scope: GLOBAL
              username: jenkins
              id: jenkins
              description: "SSH Key for agent"
              privateKeySource:
                directEntry:
                  privateKey: "${readfile:/home/jenkins/.ssh/jenkins_agent_key}"
unclassified:
  location:
    url: http://{{ jenkins_url }}:8080
