jenkins:
  securityRealm:
    local:
      allowsSignup: false
      users:
      - id: admin
        password: admin
  authorizationStrategy:
    globalMatrix:
      entries:
      - user:
          name: "admin"
          permissions:
           - "Overall/Administer"
      - group:
          name: "authenticated"
          permissions:
          - "Overall/Read"
credentials:
  system:
    domainCredentials:
      - credentials:
          - basicSSHUserPrivateKey:
              scope: GLOBAL
              username: jenkins
              id: jenkins
              description: "SSH Key for agent"
              privateKeySource:
                directEntry:
                  privateKey: "{{ jenkins_ssh_private_key }}"
unclassified:
  location:
    url: http://{{ hostvars[inventory_hostname]['ansible_default_ipv4']['address']}}:8080
