---
- name: Wait for Forgejo DB file to be created
  ansible.builtin.wait_for:
    path: /var/lib/forgejo/data/forgejo.db
    state: present
    timeout: 60

- name: Create admin user
  ansible.builtin.command: |
    forgejo admin user create
    --config=/etc/forgejo/app.ini
    --admin
    --username {{ forgejo_admin_username }}
    {% if forgejo_admin_password is not defined %}
    --random-password
    {% else %}
    --password {{ forgejo_admin_password }}
    {% endif %}
    {% if forgejo_admin_password is not defined %}
    --must-change-password
    {% endif %}
    --email {{ forgejo_admin_email }}
  become: true
  become_user: git
  become_method: su
  retries: 3
